.user1 {
    flex-grow:0;
    width: 25%;
}

.user1 h1{ 
    padding-top: 2%;
    font-family: "Shadows Into Light", sans-serif;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 0px #e67e22;

    text-align: center;
    white-space: nowrap;
}