*, body {
    user-select: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;

    z-index:-99;
}

.title {
    font-family: "Open Sans", sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 4px 4px 0px #4AB18E;
    color: white;
 

    text-align: center;
    padding-top: 2%;

}

.section{
    display:inline-block;
    padding: 2%;
}

.section img {
    display:block;
    margin:auto;
    border-radius: 50%;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
}

.dany h1{ 
    padding-top: 2%;
    font-family: "Shadows Into Light", sans-serif;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 0px rgb(201, 86, 230);

    text-align: center;
}

.dofu h1{ 
    padding-top: 2%;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 0px rgb(74, 103, 177);

    text-align: center;
}

.duarte h1{ 
    padding-top: 2%;
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 0px rgb(38, 146, 141);

    text-align: center;
}

@media screen and (max-width: 500px) {
    .title { 
        padding-top: 10%;
        font-size: 1.5em;
    }
    .section {
        padding-top: 5%;
    }
    .section h1{ 
        padding-top: 5%;
        font-size: 1.5em;
    }
}

@media screen and (max-device-width: 800px) {
}
