*, body {
    user-select: none;
    margin: 0;
    padding: 0;

    background:url('file/background.gif') 100% 100% fixed;
    background-size: cover;
}

.title {
    font-family: "Open Sans", sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 4px 4px 0px #4AB18E;
    color: white;

    text-align: center;
    padding-top: 2%;

}

.section {
    padding-top: 2%;
}

.section h1{ 
    font-family: "Open Sans", sans-serif;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 0px #4AB18E;

    text-align: center;
}

.section img {
    display:block;
    margin:auto;
    border-radius: 50%;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
  
}

@media screen and (max-width: 500px) { 
    div{width:70%;} 
}

@media screen and (max-device-width: 800px) {
    #bgvid { display: none; }
}
