*, body {
    user-select: none;
    pointer-events: none;
    margin: 0;
    padding: 0;
  }

  video { 
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background-size: cover;
        transition: 1s opacity;
  }
  .section {

    width: auto;
  }

  .section.left {
    position: absolute;
    top:20%;
    left:20%;
    }
  .section.right {
    position: absolute;
    top:20%;
    left:70%;
  }
  .section h1{ 
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 3em;
  }

  .section .avatar {
    text-align: center;
    margin: 20px;   
    border-radius: 200px;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
    z-index: 9;
  }

  @media screen and (max-width: 500px) { 
    div{width:70%;} 
  }
  @media screen and (max-device-width: 800px) {
    html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
    #bgvid { display: none; }
  }